<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocketDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8875D7B41D0178EB00E7571F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8875D7CD1D0178EC00E7571F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8875D7D81D0178EC00E7571F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
